* { margin: 0; padding: 0; }

body { 
	font-family: 'Open Sans', sans-serif;
	font: 13px; 
}

h1 {
	font: 18px; 
	color: white; 
	background-color: #1e90ff;
}
      
form { 
	background: white; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}

form textarea { 
	margin: 5px; 
	padding: 10px; 
	width: 60%; 
	background-color: #99ffff;
}

#send_button { 
	width: 10%; 
	background: #1e90ff; 
	padding: 10px; 
	text-align: center;
}

#button_background { 
	padding:5px; 
	background-color: lightgrey;
}

#page {
	margin-right: auto;
	margin-left: auto;
}

#login { text-align: center; width: 1500px; height: 500px;}

#logout { text-align: center; display: none; top: 50%;}

#chatroom { text-align: center; display: none;}

#messages { 
	list-style-type: none; 
	margin: 0;
	padding: 1em; 
	width: 30%; 
	display: inline-block;
	height: 27em;
	overflow-y: auto;
}

#messages li { 
	padding: 5px 10px; 
	margin-top: 2px;
	background: lightgrey;
}

#name {
	float: left; 
	font-size: 17px; 
	font-weight: bold;
}

#msg {
	font-size: 14px;
	text-align: left;
}

#date {
	font-size: 14px;
	float: right;
}